body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 100px 0;
    box-sizing: border-box;
    background-color: #ffffff; /* White background */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff; /* Blue navbar */
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo img {
    height: 35px;
    width: auto;
}

.nav-button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 15px;
}



.burger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    height: 21px;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    border-radius: 10px;
    transition: all 0.3s ease;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff; /* White background for header */
    text-align: center;
    padding: 20px;
    margin-top: 60px; /* To avoid overlap with the fixed navbar */
}

.mind-map {
    width: 100%;
    height: auto;
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .logo,
    .nav-button {
        margin: 10px 0;
    }

    .burger {
        display: flex;
    }
}
